<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="/blocks/header :: header"></header>
<div class="container mt-5">
    <div class="row" >
        <div class="col pt-3" th:each="el : ${list}">
            <div class="card">
                <div class="card-body">
                    <p class="card-title" th:text="${'Название группы: '+el.getStudentsGroup().getName()}"></p>
                    <p class="card-title" th:text="${'Дата: '+el.getLocalDate()}"></p>
                    <p class="card-title">Дисциплины:</p>
                    <p th:each="el2 : ${el.getDisciplines()}" class="card-title" th:text="${el2.getName()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="mt-auto" th:insert="blocks/footer :: header"></footer>
</body>
</html>